# ==========================================================
# OS / SYSTEM FILES
# ==========================================================

.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*~
.directory
.Trash-*


# ==========================================================
# IDE / EDITOR FILES
# ==========================================================

.idea/
.vscode/
*.iml
*.sublime-workspace
*.sublime-project
*.swp
*.swo


# ==========================================================
# TEMPORARY PHP / LOG FILES
# ==========================================================

php_errors.log
*.log


# ==========================================================
# CODEIGNITER TEMPORARY FILES
# ==========================================================

/writable/cache/*
/writable/logs/*
/writable/session/*
/writable/debugbar/*


# ==========================================================
# COMPOSER
# ==========================================================

# vendor/